/* Global styles
**********************************************/

body {
  background: #b9b7bd;
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}

.section-header {
  background: #2f5061;
  color: #f4eae6;
  padding: 10px;
  line-height: 1;
}

/* Header and Footer
**********************************************/
.profile-picture {
  width: 20px;
  height: 20px;
}

header,
footer {
  background: #2f5061;
  text-align: center;
  color: #f4eae6;
  padding: 5px 0px;
}

em {
  font-family: "PT Sans", sans-serif;
}

/* Profile Summary
**********************************************/

/* Key Proficiencies
**********************************************/

/* Academics
**********************************************/

/* Work
**********************************************/

.company-info {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.role-history {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2px;
}
